Feature Engineering

To convert raw HR data into decision-friendly features

In [3]:
# Necessary Import Statements 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
import sys
sys.executable

'C:\\Users\\Dell\\AppData\\Local\\Microsoft\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\\python.exe'

In [ ]:
# Load Data

In [4]:
df = pd.read_csv("D:/HR-Attrition-Analytics/data/raw/IBM_HR_Attrition.csv")

In [ ]:
# Necessary options to be set for csv files

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
pd.set_option('display.float_format', '{:,.2f}'.format)

In [ ]:
# Drop unwanted columns

In [10]:

drop_cols = [
    'EmployeeCount',
    'EmployeeNumber',
    'Over18',
    'StandardHours'
]

df = df.drop(columns=drop_cols)

In [ ]:
# Encode target variable : Create a binary target

In [11]:
df['AtritionFlag'] = df['Attrition'].map({'Yes': 1, 'No': 0})

In [ ]:
# To create AGE GROUPS : buckets
# For :
# Early career vs mid-career vs senior churn patterns, because
# HR retention programs are age-group based, not per-year

In [12]:
bins = [18, 25, 35, 45, 60]
labels = ['18-25', '26-35', '36-45', '46+']

df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True)

In [ ]:
# To create SALARY BANDS

In [ ]:
# For quantile-based bands so distribution is balanced; not as raw numbers directly

In [13]:
df['SalaryBand'] = pd.qcut(
    df['MonthlyIncome'],
    q=3,
    labels=['Low', 'Medium', 'High']
)

In [ ]:
# To Create TENURE BUCKETS : as every attrition insight comes from tenure

In [14]:
tenure_bins = [0, 2, 5, 10, 40]
tenure_labels = ['0-2', '3-5', '6-10', '10+']

df['TenureBucket'] = pd.cut(
    df['YearsAtCompany'],
    bins=tenure_bins,
    labels=tenure_labels,
    right=True
)

In [ ]:
# To Normalize satisfaction scores : for EDA and Power BI labels

In [15]:
satisfaction_map = {
    1: 'Low',
    2: 'Medium',
    3: 'High',
    4: 'Very High'
}

df['JobSatisfactionLevel'] = df['JobSatisfaction'].map(satisfaction_map)
df['WorkLifeBalanceLevel'] = df['WorkLifeBalance'].map(satisfaction_map)

In [ ]:
# Validate for nulls

In [16]:
df[['AgeGroup', 'SalaryBand', 'TenureBucket']].isnull().sum()

AgeGroup         8
SalaryBand       0
TenureBucket    44
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobLevel                  1470 non-null   int64
 13  JobRole                   1470 non-null   object
 14  JobSatisfaction           1470 non-null   int64
 15  MaritalStatus             1470 non-null   object
 16  MonthlyIncome             1470 non-null   int64
 17  MonthlyRate               1470 non-null   int64
 18  NumCompaniesWorked        1470 non-null   int64
 19  OverTime                  1470 non-null   object
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StockOptionLevel          1470 non-null   int64
 24  TotalWorkingYears         1470 non-null   int64
 25  TrainingTimesLastYear     1470 non-null   int64
 26  WorkLifeBalance           1470 non-null   int64
 27  YearsAtCompany            1470 non-null   int64
 28  YearsInCurrentRole        1470 non-null   int64
 29  YearsSinceLastPromotion   1470 non-null   int64
 30  YearsWithCurrManager      1470 non-null   int64
 31  AtritionFlag              1470 non-null   int64
 32  AgeGroup                  1462 non-null   category
 33  SalaryBand                1470 non-null   category
 34  TenureBucket              1426 non-null   category
 35  JobSatisfactionLevel      1470 non-null   object
 36  WorkLifeBalanceLevel      1470 non-null   object
dtypes: category(3), int64(24), object(10)
memory usage: 395.4+ KB

In [18]:
df.shape

(1470, 37)

In [19]:
df.columns.tolist()

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'AtritionFlag',
 'AgeGroup',
 'SalaryBand',
 'TenureBucket',
 'JobSatisfactionLevel',
 'WorkLifeBalanceLevel']

In [ ]:
# Attrition rate by TenureBucket

In [20]:
df.groupby('TenureBucket')['AtritionFlag'].mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_20968\4258636319.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('TenureBucket')['AtritionFlag'].mean()

TenureBucket
0-2    0.29
3-5    0.14
6-10   0.12
10+    0.08
Name: AtritionFlag, dtype: float64

In [ ]:
# for nulls :
# To fix : Age groups
# Covers all realistic ages
# No employee left behind
# HR-friendly buckets

In [21]:
df['AgeGroup'] = pd.cut(
    df['Age'],
    bins=[17, 25, 35, 45, 100],
    labels=['18-25', '26-35', '36-45', '46+'],
    include_lowest=True
)

In [ ]:
# for nulls :
# To fix : TenureBucket bins, bacause 
# -1 is intentional, it safely captures 0 without edge bugs.

In [22]:
df['TenureBucket'] = pd.cut(
    df['YearsAtCompany'],
    bins=[-1, 2, 5, 10, 50],
    labels=['0-2', '3-5', '6-10', '10+'],
    include_lowest=True
)

In [ ]:
# To fix : AtritionFlag column name

In [23]:
df = df.rename(columns={'AtritionFlag': 'AttritionFlag'})

In [ ]:
# Validate nulls again

In [24]:
df[['AgeGroup', 'TenureBucket']].isnull().sum()

AgeGroup        0
TenureBucket    0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobLevel                  1470 non-null   int64
 13  JobRole                   1470 non-null   object
 14  JobSatisfaction           1470 non-null   int64
 15  MaritalStatus             1470 non-null   object
 16  MonthlyIncome             1470 non-null   int64
 17  MonthlyRate               1470 non-null   int64
 18  NumCompaniesWorked        1470 non-null   int64
 19  OverTime                  1470 non-null   object
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StockOptionLevel          1470 non-null   int64
 24  TotalWorkingYears         1470 non-null   int64
 25  TrainingTimesLastYear     1470 non-null   int64
 26  WorkLifeBalance           1470 non-null   int64
 27  YearsAtCompany            1470 non-null   int64
 28  YearsInCurrentRole        1470 non-null   int64
 29  YearsSinceLastPromotion   1470 non-null   int64
 30  YearsWithCurrManager      1470 non-null   int64
 31  AttritionFlag             1470 non-null   int64
 32  AgeGroup                  1470 non-null   category
 33  SalaryBand                1470 non-null   category
 34  TenureBucket              1470 non-null   category
 35  JobSatisfactionLevel      1470 non-null   object
 36  WorkLifeBalanceLevel      1470 non-null   object
dtypes: category(3), int64(24), object(10)
memory usage: 395.4+ KB

In [26]:
df.shape

(1470, 37)

In [27]:
df.columns.tolist()

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'AttritionFlag',
 'AgeGroup',
 'SalaryBand',
 'TenureBucket',
 'JobSatisfactionLevel',
 'WorkLifeBalanceLevel']

In [28]:
df.groupby('TenureBucket')['AttritionFlag'].mean() # corrected spelling

C:\Users\Dell\AppData\Local\Temp\ipykernel_20968\2045095003.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('TenureBucket')['AttritionFlag'].mean() # corrected spelling

TenureBucket
0-2    0.30
3-5    0.14
6-10   0.12
10+    0.08
Name: AttritionFlag, dtype: float64

In [ ]:
# For saving processed data file

In [29]:
processed_path = "../data/processed/hr_attrition_fe.csv"

In [30]:
df.to_csv(processed_path, index=False)

In [31]:
print("Processed dataset saved successfully")

Processed dataset saved successfully

In [32]:
# Verify processed csv
pd.read_csv(processed_path).head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,AttritionFlag,AgeGroup,SalaryBand,TenureBucket,JobSatisfactionLevel,WorkLifeBalanceLevel
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5,1,36-45,Medium,6-10,Very High,Low
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7,0,46+,Medium,6-10,Medium,High
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Yes,15,3,2,0,7,3,3,0,0,0,0,1,36-45,Low,0-2,High,High
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Yes,11,3,3,0,8,3,3,8,7,3,0,0,26-35,Low,6-10,High,High
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,No,12,3,4,1,6,3,3,2,2,2,2,0,26-35,Low,0-2,Medium,High